{
    "snow" : {"liquid" : 1, "material" : "snow", "input" : 20, "output" : 15},
    "slush" : {"liquid" : 1, "material" : "slush", "input" : 20, "output" : 15},
    "ice" : {"liquid" : 1, "material" : "ice", "input" : 20, "output" : 15},
    "mud" : {"liquid" : 1, "material" : "mud", "input" : 20, "output" : 15},
    "wetdirt" : {"liquid" : 1, "material" : "wetdirt", "input" : 20, "output" : 15},
    "magmarock" : {"liquid" : 2, "material" : "magmarock", "input" : 20, "output" : 15},
    "obsidian" : {"liquid" : 2, "material" : "obsidian", "input" : 50, "output" : 15},
    "sewage" : {"liquid" : 3, "material" : "sewage", "input" : 20, "output" : 15},
    "slime" : {"liquid" : 13, "material" : "slime", "input" : 20, "output" : 15},
    "tar" : {"liquid" : 3, "material" : "tar", "input" : 20, "output" : 15},
    "fleshblock" : {"liquid" : 6, "material" : "fleshblock", "input" : 20, "output" : 15}
}
